@font-face {
  font-family: IBM Plex Serif;
  font-weight: bold;
  src: url('fonts/IBM_Plex_Serif/IBMPlexSerif-Bold.ttf')
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: italic;
  src: url('fonts/IBM_Plex_Serif/IBMPlexSerif-Italic.ttf');
}

@font-face {
  font-family: IBM Plex Sans;
  font-weight: regular;
  src: url('fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: IBM Plex Sans;
  font-weight: bold;
  src: url('fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf');
}

* {
  margin: 0;
}

body {
  background-color: #181818;
  color: whitesmoke;
  margin-bottom: 2rem;
}

header {
  height: 75px;
  width: 100%;
  background-color: rgba(24, 24, 24, 0.2);
  backdrop-filter: blur(5px);
  position: fixed;
  display: grid;
  grid-template-columns: 50px auto;
  justify-content: start;
  align-items: center;

  span {
    grid-column: 2 / -1;
    font-family: IBM Plex Serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

main {
  padding-top: 1px;

  .content-wrapper {
    margin-top: 75px;
    display: grid;
    justify-content: center;
    align-items: start;
    row-gap: 50px;

    section {
      grid-column: 2 / span 1;
      display: grid;
      row-gap: 20px;

      .section-header {
        font-family: IBM Plex Sans;
      }

      blockquote {
        width: 350px;
        display: grid;
        row-gap: 2px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.75);
        color: black;

        span {
          font-family: IBM Plex Serif;
          font-style: italic;
        }

        cite {
          display: grid;
          justify-content: right;
          align-items: center;
          font-family: IBM Plex Sans;
          font-size: 0.75rem;
          font-weight: regular;
        }
      }
    }
  }
}

.content-wrapper {
  >*:nth-child(1) {
    blockquote {
      background-color: lightsalmon;
    }
  }

  >*:nth-child(2) {
    blockquote {
      background-color: lightgreen;
    }
  }

  >*:nth-child(3) {
    blockquote {
      background-color: lightblue;
    }
  }
}
